.detail-img {
    width: 400px;
    height: 400px;
}

.detail-img-reebok {
    margin-top: 100px;
    width: 400px;
    height: 220px;
}

.detail-img-vans {
    width: 600px;
    height: 600px;
    margin-left: 100px;
}

.tallas-radio-group {
    margin-top: 10px;
}

.tallas-radio-group label {
    margin-right: .40rem;
    width: 6rem;
    height: 3rem;
    border-radius: 0;
    padding-top: .75rem;

}

.tallas-radio-group label:nth-last-of-type(-n+2) {    
    top: 60px;
}


.tallas-radio-group label:nth-last-of-type(2) {    
    margin-left: -203px !important; 
    margin-bottom: 60px;
} 

.btn-outline-dark:hover {
    background-color: #131212 !important ;
} 

.btn-outline-dark.active {
    background-color: #131212 !important ;
    
}

.btn-outline-dark.focus {
    box-shadow: none !important;
}

.añadir-carrito-button {
    width: 100%;
    color: black !important;
    margin-bottom: 15px;
}

.añadir-carrito-button:not(:disabled):hover {
    color: white !important;
}

.añadir-carrito-button:disabled {
    color: #dc3545 !important;
    border-color: #dc3545;
}

.añadir-carrito-button:disabled:hover {   
    border-color: #dc3545;
}

.numberInput {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield;
}