.shoe-card {
    margin-bottom: 1.3rem;
}
.shoe-card .card {
    width: 18rem;
    margin-left: auto;
    margin-right: auto;
}

/* Small devices (portrait tablets and large phones, 576px and up) */
@media only screen and (min-width: 576px) {
    .shoe-card .card {
        width: 16rem;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .shoe-card .card {
        width: 14.3rem;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .shoe-card .card {
        width: 18.3rem;
        margin-left: auto;
        margin-right: auto;
    }

} 