/* Estilos Navbar */

.brand-name {
    font-family: 'Brandon', Arial, sans-serif;
    font-weight:normal;
    font-style:normal;
    font-size: 1.6rem;
    
}

.navbar-brand {
    font-size: 2rem !important; 
}

.bg-my-dark {
    background-color: #000 !important;
}

.buscador {
    font-family: 'Caviar-Dreams';
    font-weight: normal;
    font-style: normal;  
}

.buscador input {
    width: 230px !important;
    margin-right: 20px;
    font-size: 0.9rem;  
    background-color: #343a40;
    color: #ffffff;
}

.buscador input:focus {
    background-color: #343a40;
    color: #ffffff;
}

.buscador input::placeholder {
    color: #ffffff;
}

.buscador button {
    font-size: 0.9rem; 
}

.carrito-badge {
    margin-bottom: 25px;
    margin-left: -5px;
}

/* Small devices (portrait tablets and large phones 576px and up) */
@media only screen and (min-width: 576px) {
    .buscador input {
        width: 400px !important;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .buscador input {
        width: 320px !important;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .buscador input {
        width: 400px !important;
    }
}