.shoe-button {
    width: 100%;
    color: black !important;
}

.shoe-button:hover {
    color: white !important;
}

.añadir-carrito-shoe-button {
    color: black !important;
    margin-bottom: 15px;
}

.añadir-carrito-shoe-button:not(:disabled):hover {
    color: white !important;
}

.añadir-carrito-shoe-button:disabled {
    color: #dc3545 !important;
    border-color: #dc3545;
}

.añadir-carrito-shoe-button:disabled:hover {   
    border-color: #dc3545;
}

.numberInput {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield;
}

.shoe-tallas-radio-group {
    margin-top: 10px;
}

.shoe-tallas-radio-group label {
    margin-right: .40rem;
    width: 6rem;
    height: 3rem;
    border-radius: 0;
    padding-top: .75rem;

}