/* Importación de la fuente Brandon para la aplicación */
@font-face {
    font-family: 'Brandon';
    src: url('Fonts/brandon-webfont.woff2') format('woff2'),
         url('Fonts/brandon-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Importación de la fuente Caviar Dreams para la aplicación */

@font-face {
    font-family: 'Caviar-Dreams';
    src: url('Fonts/caviardreams-webfont.woff2') format('woff2'),
         url('Fonts/caviardreams-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Caviar-Dreams';
    src: url('Fonts/caviardreams_bold-webfont.woff2') format('woff2'),
         url('Fonts/caviardreams_bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Caviar-Dreams';
    src: url('Fonts/caviardreams_italic-webfont.woff2') format('woff2'),
         url('Fonts/caviardreams_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'Caviar-Dreams';
    src: url('Fonts/caviardreams_bolditalic-webfont.woff2') format('woff2'),
         url('Fonts/caviardreams_bolditalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;

}

/* Estilos Generales */

.texto {
    font-family: 'Caviar-Dreams';
    font-weight: normal;
    font-style: normal;
}
.texto-bold {
    font-family: 'Caviar-Dreams';
    font-weight: bold;
    font-style: normal;
}

.titulo {
    font-family: 'Brandon', Arial, sans-serif;
    font-weight:normal;
    font-style:normal;
    font-size: 5.5rem; 
}

.alerta {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1030;
    margin-top: 15px;
    margin-right: 15px;
    width: 350px;  
    /* float: right !important;  */
}

.alert-my-dark {
    color: #fff;
    background-color: #000000de;
    border-color: #fff !important;
}

.close:hover {
    color: #fff !important;
}